@font-face {
    font-family: 'Gilroy-Bolt';
    src: url('Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}